{# util #}
{% macro random_image(assetdir) %}
	{% set path = "assets/images/" + SITE_NAME + "/" + assetdir  %}
	{{ "/" + path + "/" + listdir('files/' + path)|random() + '?v=45' }}
{% endmacro %}

{# banner #}
{% macro banner(src, href, alt, expand) %}
	<a href="{{href|default(src)}}" rel="nofollow noopener">
		<img onclick="{{expand|default('expandDesktopImage()')}}" alt="{{alt|default('site banner')}}" src="{{src|default(live_banner())}}">
	</a>
{% endmacro %}

{% macro live_banner() %}
	{% set path = "files/assets/images/" + SITE_NAME %}
	{% if not v and os_path.exists(path + "/cached.webp") %}
		{{ 'cached.webp' | asset_siteimg }}
	{% elif os_path.exists(path + "/banners") %}
		{{ random_image("banners") }}
	{% else %}
		{{ 'banner.webp' | asset_siteimg }}
	{% endif %}
{% endmacro %}

{# head #}
{% macro head() %}
	<head>
		{{ meta_tags_common() }}

		{% if 'post/' in request.path %}
			{{ meta_tags_og() }}
			{{ meta_tags_twitter() }}
		{% elif '@' in request.path %}
			{{ meta_tags_og() }}
			{{ meta_tags_twitter() }}
		{% endif %}
	</head>
{% endmacro %}

{% macro meta_tags_common(csp) %}
	<meta charset="utf-8">
	<meta http-equiv="Content-Security-Policy" content="{{csp | default(CONTENT_SECURITY_POLICY_DEFAULT, true) | safe}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="thumbnail" content="{{'site_preview.webp' | asset_siteimg}}">
	<meta name="description" content="{{DESCRIPTION}}">

	<meta property="og:type" content="article">
	<meta property="og:site_name" content="{{SITE}}">
	<meta property="og:url" content="{{request.full_path}}">

	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:site" content="{{SITE_FULL}}">
{% endmacro %}

{% macro post_meta(u) %}
	{{ meta_tags_og(
		"asdf",
		'@'+u.author_name,
		'site_preview.webp' | asset_siteimg,
		u.plainbody(v),
		'@'+u.author_name,
		u.created_datetime,
		u.edited_string
	)}}

	{{ meta_tags_twitter(
		"asdf",
		'@'+u.author_name,
		'site_preview.webp' | asset_siteimg,
		u.plainbody(v),
		u.permalink
	)}}
{% endmacro %}

{% macro meta_tags_og(title, author, image, description, a_author, published, modified, section ) %}
	<meta property="og:title" content="{{title}}">
	<meta property="og:author" name="author" content="{{author | default(SITE_FULL, true)}}">
	<meta property="og:image" content="{{image | default('site_preview.webp' | asset_siteimg)}}">
	<meta property="og:description" name="description" content="{{description}}">

	<meta property="og:article:author" content="{{a_author}}">
	<meta property="og:article:published_time" content="{{published | default('')}}">
	<meta property="og:article:modified_time" content="{{modified | default('')}}">
	<meta property="og:article:section" content="{{section| default('')}}">
{% endmacro %}

{% macro meta_tags_twitter(title, author, image, description, url) %}
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:creator" content="{{author}}">
	<meta name="twitter:image" content="{{image | default('site_preview.webp' | asset_siteimg)}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
{% endmacro %}
